.option-result-fill {
    background-image: url(pattern.png);
    height: 100%;
    width: 24%;
    position: relative;
}

.remove-vote-option {
    background-image: url(inputfield_icon_delete.png);
    width: 11px;
    height: 14px;
    position: relative;
    right: 15px;
    top: 0px;
    float: right;
    margin-top: -22px;
}

#vote-form-buttons-wrap {
    margin-top: 15px;
}
.close_popup {
	height: 14px;
    width: 14px;
    color: #A1A1A1;
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    right: 21px;
    top: 15px;
    background-image: url(btn_popup_close.png)
}

#description-creator span{
    font-size: 0.8em;
    padding-right: 5px;
}

#inline-vote-add-option {
	height: 20px;
    color: #0680FC;
    margin: 10px 0 20px 0;
	font-family: "Noto Sans",  sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.oval {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid #0680FC;
    border-radius: 15px;
    text-align: center;
    line-height: 14px;
    font-size: 18px;
    margin-right: 4px;
}
